@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shiki-token-string-expression: #16b3ac;
  --shiki-color-text: white;
}

html {
  font-family: 'Poppins';
  font-size: 0.875rem;
}
.nextra-toc {
  display: none !important;
}

.nx-max-w-4xl {
  max-width: 100rem !important;
}

.nx-text-primary-600 {
  color: #16b3ac;
}

.nx-bg-primary-50 {
  background-color: #ffffff;
}

.nx-bg-primary-700\/5 {
  background-color: #262626;
}

th {
  background: #e0e0e0;
}

td {
  text-align: left;
}

html[class~='dark'] th {
  background: black;
}

.side-by-side-parent {
  @apply grid grid-cols-1 md:grid-cols-12 gap-4 relative;
}

.side-by-side-left-content {
  @apply md:col-span-7;
}

.nx-max-w-\[90rem\] {
  max-width: 120rem;
}

pre {
  white-space: pre-wrap;
}
