@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins';
}
.nextra-toc {
  display: none !important;
}

.nx-max-w-4xl {
  max-width: 100rem !important;
}

.nx-text-primary-600 {
  color: #16b3ac;
}

.nx-bg-primary-50 {
  background-color: #ffffff;
}

.nx-bg-primary-700\/5 {
  background-color: #262626;
}

th {
  background: #e0e0e0;
}

td {
  text-align: left;
}

html[class~='dark'] th {
  background: black;
}

.side-by-side-parent {
  @apply grid grid-cols-1 md:grid-cols-3 gap-4 relative;
}

.side-by-side-left-content {
  @apply md:col-span-2;
}
